.about_wrapper .single-logo-item {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: none;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.about_wrapper .single-logo-item:hover {
  box-shadow: 0 0.5rem 2.875rem rgba(118, 85, 225, 0.5);
}
.about_wrapper .client-info {
  padding: 25px 30px;
  background: #fef7ff;
  position: relative;
  margin: 25px;
}
.about_wrapper .client-info:before {
  content: "";
  position: absolute;
  top: -25px;
  left: -60px;
  background: url("../../assets/images/client-info.webp");
  background-repeat: no-repeat;
  height: 10.9375rem;
  width: 10.9375rem;
}
.about_wrapper .client-info .large {
  color: blueviolet;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6.25rem;
  position: relative;
  font-weight: 700;
  z-index: 9;
}
.about_wrapper .client-info .small {
  text-align: left;
  font-family: cursive;
  color: black;
  font-size: 1.25rem;
  margin-left: 2.25rem;
  font-weight: 500;
}
.about_wrapper .client-info .call-now span {
  font-size: 2.75rem;
  font-weight: 700;
}
.about_wrapper .client-info .call-now p {
  color: #cc99ff;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
}

