.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: xx-large;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.scroll-to-top-button.show {
  opacity: 1
}